@model EntityLayer.Concreate.Blog
@{
    ViewData["Title"] = "EditBlog";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}



<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">Düzenle</h3>
        <div class="inner-sec">
            <div class="login p-5 bg-light mx-auto mw-100">
                <form method="post" enctype="multipart/form-data">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Blog başlığı</label>
                            <input type="text" class="form-control" id="password1" placeholder="" required="" asp-for="@Model.BlogTitle">
                           
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Küçük görsel</label>
                            <input type="text" class="form-control" id="password1" placeholder="" required="" asp-for="@Model.BlogTumbnailImage">
                          
                        </div>
                        <div class="form-group col-md-6">
                            <label>Görsel</label>
                            <input type="text" class="form-control" id="password1" placeholder="" required="" asp-for="@Model.BlogImage">
                          
                        </div>

                        <div class="form-group col-md-6">
                            <label for="exampleInputPassword1 mb-2">Blog İçeriyi</label>
                          
                            <input type="text" class="form-control" id="password1" placeholder="" required="" asp-for="@Model.BlogContent">
                           
                        </div>
                     
                        <div class="form-group " id="maindepartment">
                            <label>Kategori</label>
                            <select class="form-control" name="categoryid">
                                @foreach (Category category in ViewBag.category)
                                {
                                    <option value="@category.CategoryID">@category.CategoryName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-primary submit mb-4">Kad et</button>
                    <p>
                        <a href="#" id="btn1">Tüm kuralları kabul ediyorum</a>
                    </p>
                    

                    </form>
                    </div>

        </div>
    </div>
    <br />

    <script>
        $("#btn1").click(function () {
            swal("Site kabul sartlari", "Butun sartlari kabul ediyorum!");
        });
    </script>
</section>

